* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.topnav {
  display: flex;
  background-color: black;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.lines {
  display: inline-block;
  background-color: #1a1a1a;
  padding: 55px 40px;
}

.fod {
  color: white;
  font-weight: 900;
  font-size: 30px;
}

.emp {
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}

.ttl-cntnr {
  display: inline-block;
  margin-left: 25px;
}

.ctgr {
  display: flex;
  flex-grow: 5;
  flex-direction: row-reverse;
}

.ctgr span {
  color: grey;
  margin: 0px 50px;
}

.btns {
  flex-grow: 0.3;
}

.fa-bars,
.ttl-cntnr,
nav i:hover {
  cursor: pointer;
}

.ctgr span:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 10px;
  transition-duration: 0.4s;
}

.main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 108px;
  left: 0px;
  background-color: #0c0c0c;
  box-shadow: inset -3px 0 0 0 #262424;
}

.main {
  display: grid;
  position: relative;
  height: 900px;
  padding-left: 60px;
  color: white;

  background-image: conic-gradient(black, rgb(20, 20, 20));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;

  grid-template-columns: 1fr 2fr 1fr;
  gap: 80px;
  justify-items: center;
}

.lft {
  padding-left: 120px;
  padding-top: 170px;
}
.rght {
  position: relative;
  top: 300px;
  left: -35%;
}

.main .lft span:first-of-type {
  color: #8a8989;
}
.lft p,
.rght p,
.desc {
  color: #b5b5b6;
  font-weight: 100;
}

.sdnv {
  background-color: yellow;
  position: fixed;
  right: 0px;
  top: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 270px;
  padding: 30px 0px 30px;
  border-radius: 50px 0 0 50px;
}
.sdnv i:hover {
  cursor: pointer;
}

.mainprdcts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: calc(100% - 108px);
}

.orng {
  display: flex;
  background-color: #171719cc;
  gap: 40px;
  height: 250px;
}

.orng .mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px;
}
.orng .mid:first-of-type span:hover{
  cursor: pointer;
}

.orng .orng-rght button {
  color: white;
  background-color: yellow;
  border: none;
  margin-top: 15px;
  width: 96px;
  height: 37px;
}
.orng .orng-rght :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  color: #dedede;
  text-decoration: line-through;
  margin: 0px 0px 5px 10px;
}
.orng .orng-rght {
  margin-top: 70px;
}

.wtrmln {
  display: flex;
  background-color: #171719cc;
  gap: 40px;
  height: 250px;
}

.wtrmln .mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px;
}
.wtrmln .mid:first-of-type span:hover{
  cursor: pointer;
}

.wtrmln .wtrmln-rght button {
  color: white;
  background-color: yellow;
  border: none;
  margin-top: 15px;
  width: 96px;
  height: 37px;
}
.wtrmln .wtrmln-rght :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  color: #dedede;
  text-decoration: line-through;
  margin: 0px 0px 5px 10px;
}
.wtrmln .wtrmln-rght {
  margin-top: 70px;
}

.scrlprf {
  height: 300vh;
  text-align: center;
  font-weight: bolder;
}
